# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

# data
data/train/
data/val/
data/test/

!checkpoints/.gitkeep

.DS_Store
Thumbs.db

*.log


best_model_v1.pth
best_model_v2.pth